a(href='https://beian.miit.gov.cn/' style='position: fixed; left: 50%; bottom: 10px; transform: translateX(-50%); font-size: 12px;') 沪ICP备18011654号-2

script(type="text/javascript")
  include ../../public/js/utils.js
