<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,
    user-scalable=no">
  <title><%= blog.title %></title>
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="/lib/semantic.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.2.0/css/bootstrap.css">
  <link rel="stylesheet" href="/lib/semantic.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <%- include('components/nav') %>
  <!-- <%- include('components/nav-setting') %> -->
  <%- include('components/notification') %>
