<%- include('header') %>

<div class="post-content-wrap">
  <div class="ui text container">
    <div class="ui segments">
      <% posts.forEach(function (post) { %>
      <%- include('components/post-content', { post: post, display: false }) %>
			<% }) %>
		</div>
	</div>
</div>


<%- include('footer') %>
