<%- include('header') %>

<div class="post-content-wrap">
  <div class="ui text container">
    <div class="ui segments">
      <%- include('components/post-content', { display: true }) %>
    </div>
  </div>
</div>

<%- include('footer') %>
