include ../shared/header
include ../components/post-content

.post-content-wrap
  .ui.text.container
    .ui.segments
      each post in posts
        +post_content(post)

    #more-posts loading more

include ../shared/footer
